body{
    padding-bottom: 500px;
}

/*flex*/
.flex{
    display: flex;
    background-color: darkgray;
    margin-bottom: 20px;
}

/*flex column*/
.flex-column {
    display: flex;
    flex-direction: column;
    background-color: dimgrey;
    margin-bottom: 20px;
}

/*wrap*/
.wrap{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.box{
    height: 40px;
    width: 33%;
    border: 1px solid red;
}

/* justify content*/

.center, .space-around, .space-betwenn,.end{
    display: flex;
    margin-bottom: 20px;
}

.center .box, .space-around .box, .space-betwenn .box,.end .box{
    width: 50px;
}
.center{
    justify-content: center;
}

.space-around{
    justify-content: space-around;
}

.space-betwenn{
    justify-content: space-between;
}

.end{
    justify-content: end;
}

/* align items*/

.align-center, .flex-end, .stretch{
    display: flex;
    margin-bottom: 20px;
    height: 200px;
    border: 1px solid cornflowerblue;
}

.align-center .box, .flex-end .box, .stretch .box{
    width: 50px;
}

.align-center{
    align-items: center;
}

.flex-end{
    align-items: end;
}

.stretch{
    align-items: stretch;
}

/*gap*/
.gap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid greenyellow;
    gap: 10px;
}

.gap .box {
    width: 32%;
}

/*Order*/
.order{
    display: flex;
}

#one{
    order: 1;
}

#two{
    order: 2;
}

#three{
    order: 3;
}
/*Grow*/

.grow{
    display: flex;
}

.grow .box{
    flex: 1;
}


.grow .big {
    flex: 2;
}

/*Basis*/
.basis{
    display: flex;
}

.basis .box{
    flex-basis: 20px;
}

.basis .big{
    flex-grow: 2;
}

/*Shrink*/
.shrink{
    display: flex;
}

.shrink .box{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 250px;
    width: auto;
}

.shrink .small{
    flex-shrink: 2;
}

/*Shorthand*/
.shorthand{
    display: flex;
}

.shorthand .box{
    width: auto;
    flex: 1 1 50px;
}

.shorthand .different{
    flex: 3 1 400px;
}

/*Auto alinhamento*/
.auto-alignment{
    height: 300px;
    display: flex;
    align-items: flex-end;
    border: 1px solid purple;
}

.auto-alignment .different{
    align-self: center;
}